body{
  margin: 0;
  padding: 0;
  background-image: url(./woodbackground.jpg);
}
div{
  display: flex;
}
button {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 5px;
}

select {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 5px;
}

select:hover {
  box-shadow: 4px 3px 3px #00000024;
  transform: translateY(-1px);
  cursor: pointer;
}

button:hover {
  box-shadow: 4px 3px 3px #00000024;
  transform: translateY(-1px);
  cursor: pointer;
}
.sheetPaper{
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #FFEED1;
  box-shadow: black 5px 5px 5px;
  margin: 50px;
}
ol{
  border-left: solid 1px crimson;
  margin: 0;
  padding: 15px 30px;
  margin-left: 50px;
}

li{
  padding: 5px 10px;
  border-bottom: blue solid 1px;
  width: 100%;
}
h2{
  margin: 0 0 0 50px;
  padding: 20px;
  border-left: crimson 1px solid;
  height: 100%;
  border-bottom: crimson 1px solid;
}

.flex{
  display: flex;
  justify-content: center;
}
